*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* This is the herader scetion */

/* this is navbar style scetion */

.nav-container{
    background-color: rgb(255, 255, 255);
    /* position: relative; */
    width: 100%;
    height: auto;
}

nav{
    min-height: 10vh;
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    
}

.logo{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 7%;
    gap: 10px;
    width: 50%;
    color: #0B0223;
}

.logo-g{
    color: #FF42A5;
}

.logo img{
    width: 80px;
    height: auto;
    object-fit: cover;
}

.logo h1{
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
}

.nav-item{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.nav-item a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

a:hover{
    color: #FF42A5;

}

.follow-us-btn{
    padding: 17px 24px 17px 24px;
    border: none;
    color: #0B0223;
    border-radius: 8px;
    transition: transform .5s;

}

.follow-us-btn:hover{
    border: 2px solid #FF42A5;
    color: #29005f;
    background-color: #ffffff;
    transform: scale(1.1);
}

/* This is the herader scetion end */


/* This is the body scetion */
/* This is banner section */

.banner-container{
    display: flex;
    max-width: 1920px;
    height: 600px;
    flex-shrink: 0;
    margin: 0px auto 0;
    background-color: #fff2fa;
    
}

.banner-text{
    width: 50%;
    align-items: left;
    padding-left: 240px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

.banner-text .banner-title1{
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-text .banner-title2{
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-text .primary-color-p{
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-bottom: 17px;
}

.banner-text .primary-color-p{
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 17px;
}

.banner-text .primary-color-p{
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 17px;
}

.banner-btn{
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
}

.banner-btn a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banner-btn .banner-btn1{
    padding: 21px 40px;
    border-radius: 48px;
    background: #FF42A5;
    transition: transform .4s;
}

.banner-btn .banner-btn1:hover{
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    border: 2px solid #4EC5F7;

}

.banner-btn .banner-btn2{
    padding: 21px 40px;
    border-radius: 48px;
    background-color: #4EC5F7;
    transition: transform .4s;
}

.banner-btn .banner-btn2:hover{
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    border: 2px solid #FF42A5;

}

.banner-image{
    width: 50%;
    height: auto;
    background-color: rgba(255, 255, 255, 0);
}

.banner-image img{
    margin-left: 65px;
    margin-top: 19px;
    object-fit: cover;
    height: 580px;
    background-color: transparent;
}

/* This is About section */

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 55px;
    padding: 0 160px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.about-image img{
    width: 868px;
    height: 489px;
    flex-shrink: 0;
}

.about-text{
    display: flex;
    flex-direction: column;
    justify-content: right;
    
}

.about-text .about-text1{
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.about-text .about-text2{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 30px;
}

.about-btn{
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    background: #FF42A5;
    margin-right: 0;
    margin-left: 320px;
    margin-bottom: 10px;
    transition: transform .4s;
}

.about-btn a{
    color: white;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.about-btn:hover{
    transform: scale(1.1);
    color: white;
}

.about-text3{
    color: #534C64;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px; /* 187.5% */
}

.about-text3 .unlesh{
    color: #534C64;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

/* This is online games section */

.online-games{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 120px;
    max-width: 1920px;
    margin: 120px auto;

    
}

.online-games-text{
    text-align: center;
}

.online-games-text1{
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.online-games-text .funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.online-games-text2{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.online-games-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 160px;
}

.card{
    width: 342px;
    height: 400px;
    flex-shrink: 0;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

.card img{
    margin-bottom: 20px;
}

.card caption{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

/* This is play games-games2 section */

.play-games{
    display: flex;
    max-width: 1920px;
    padding: 50px 0;
    margin: 0px auto;

}

.play-games-text{
    display: block;
    width: 50%;
    text-align: right;
    align-items: center;
    justify-content: right;
    margin: 250px 5px 200px 300px;
}

.play-games-text h1{
    text-align: right;
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    width: 341px;
    height: 180px;
    padding-left: 0;
    margin-left: 0;

}

.play{
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-games-p{
    width: 353px;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    
}

.play-games-img{
    width: 50%;
    margin-right: 121px;
    
}

.play-games-img img{
    width: 634.833px;
    height: 650px;
    flex-shrink: 0;
    border-radius: 8px;
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.3);
}

.sub-img img{
    width: 318.5px;
    height: 365.083px;
    flex-shrink: 0;
    border-radius: 8px;
    /* border: 5px solid #FFF; */
    margin: -240px -200px 200px -180px;
}

/* .play-games2{
    display: flex;
    max-width: 1920px;
    padding-left: px;
    margin: 120px auto;
    flex-direction: row-reverse;
}  */

/* .play-games-text2{
    display: block;
    width: 50%;
    text-align: right;
    align-items: center;
    justify-content: right;
    margin: 250px 5px 200px 400px;
}  */

/* .play-games-text2 h1{
    text-align: left;
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    width: 341px;
    height: 180px;
    padding-right: 0;
    margin-right: 0;
} */

/* .play2{
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
 
} */

/* .play-games-p2{
    width: 353px;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    
} */

/* .play-games-img2{
    width: 50%;
    margin-right: 200px;
} */

/* .play-games-img2 img{
    width: 634.833px;
    height: 650px;
    flex-shrink: 0;
    border-radius: 8px;
} */

/* .sub-img2 img{
    width: 318.5px;
    height: 365.083px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 10px solid #FFF;
    margin: 240px 200px -200px 180px;
} */

/* This is careers section */

.careers{
    display: flex;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: white;
    height: 821px;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 180px;
}

.careers-text{
    width: 50%;
    text-align: left;
    margin-top: 120px;
}

.careers-text1{
    margin-bottom: 24px;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
}

.careers-text2{
    margin-bottom: 32px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.sub-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.sub-text-left{
    width: 337px;
    height: 240px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 200% */
}

.sub-text-right{
    width: 246px;
    height: 240px;
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 200% */
}

.careers-btn{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border: none;
    border-radius: 48px;
    background: #FFF;
    color: #FF42A5;
    font-size: 20px;
    font-weight: 600;
    transition: transform .4s;
}

.careers-btn:hover{
    border: 2px solid white;
    background: #FF42A5;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    transform: scale(1.1);
}

.careers-image{
    width: 50%;
    object-fit: cover;

}

.feature{
    max-width: 1920px;
    margin: 120px auto;
}

.feature-option{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 10px;
    

}

.option{
    width: 243px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #0B0223;
    transition: transform .5s;
}

.option:hover{
    border: 2px solid #FF42A5;
    background-color: #ffffff;
    color: #FF42A5;
    transform: scale(1.1);
}

.option img{
    width: 60px;
    height: 60px;
}

/* This is the body section end */

/* This is footer section */

footer{
    max-width: 1920px;
    height: 636px;
    flex-shrink: 0;
    background-color: #0B0223;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    color: #ffffff;
}

.logo-g{
    color: #FF42A5;
}

.footer-contant{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 75px;
}

.footer-cont1{
    display: flex;
    gap: 60px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 65px;
}

.footer-icons{
    font-size: 40px;
    display: flex;
    gap: 60px;
    margin-bottom: 65px;
}

.footer-cont2{
    display: flex;
    gap: 60px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 25px;
}

.copyright{
    color: #FFF;
    text-align: center;

}

/* This is the footer scetion end */



/* This is responsive section */

/* This section for small device */

@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .nav-item{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
    }

    
}